<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.directoriocomercial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Recuperacion" android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Suscribirme" />
        <activity android:name=".Ayuda2" />
        <activity android:name=".Ayudanos2" />
        <activity android:name=".Contactanos2" />
        <activity android:name=".Inicio_invitado" />
        <activity android:name=".item_comentario" />
        <activity android:name=".item_redes" />
        <activity android:name=".Negocio" />
        <activity android:name=".Negocios" />
        <activity android:name=".item_negocio" />
        <activity android:name=".itemMinegocio" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>